# Data and models
data/
saved_models/
*.h5
*.keras
*.pth
*.pt
logs/

# Python and virtual environments
__pycache__/
*.pyc
.venv/
venv/
env/

# IDE and OS
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints/

.conda/
.img/